/*custom Flexbox*/
.Flexbox {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;

  .flex-item {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/*custom margin classes*/

.m-t-20 {
  margin-top: 20px;
}

.m-b-20 {
  margin-bottom: 20px;
}
