* {
  font-family: 'Quicksand', sans-serif;
  color: $white_text;
}

html {
  body {
    background-image: url("src/background.svg");
    height: 100%;
    width: 100%;

    .main_header {
      color: $white_text;
    }

    .special_card {
      background-color: transparent;
      border: 1px solid $white_text;
      position: relative;

      .card_ {
        &header {
          color: $white_text;
          font-weight: 600;
          font-size: 20px
        }

        &body {
          color: $white_text;
          font-size: 18px;
        }
      }

    }
  }
}

.btns {
  background-color: $btn-color;
  border: 1px solid $btn-color;
  color: $white_text;
  font-weight: 600;

  &:hover, &:active {
    color: darken($white_text, 10);
    background-color: lighten($btn-color, 10);
    border-color: lighten($btn-color, 10);
  }
}

.Favourites {
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  position: absolute;
  text-align: center;
  .header {
    font-size: 60px;
  }

  .btns {
    height: 46px;
    width: 160px;
    font-size: 26px;
    text-align: center;
  }
}

