select {
  max-width: 200px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  color:$btn-color!important;
  font-size: 16px !important;
  font-weight: 600 !important;
  background-color: #fff !important;
}

.btn-danger-white {
  background-color: white;
  color:$btn-color;
  border: 2px solid $btn-color;
  font-weight: 600;
  &:hover:not(disabled) {
    color:darken($btn-color,10);
    background-color:darken(white,10);
  }
}