@import url("https://fonts.googleapis.com/css?family=Quicksand:400,600,700&display=swap");
* {
  font-family: 'Quicksand', sans-serif;
  color: #c1c1c1; }

html body {
  background-image: url("src/background.svg");
  height: 100%;
  width: 100%; }

html body .main_header {
  color: #c1c1c1; }

html body .special_card {
  background-color: transparent;
  border: 1px solid #c1c1c1;
  position: relative; }

html body .special_card .card_header {
  color: #c1c1c1;
  font-weight: 600;
  font-size: 20px; }

html body .special_card .card_body {
  color: #c1c1c1;
  font-size: 18px; }

.btns {
  background-color: #441222;
  border: 1px solid #441222;
  color: #c1c1c1;
  font-weight: 600;
  outline: none;
  cursor: pointer; }

.btns:hover, .btns:active {
  color: #a8a8a8;
  background-color: #6c1d36;
  border-color: #6c1d36; }

.Favourites, .error {
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  position: absolute;
  text-align: center; }

.Favourites .header_pic img, .error .header_pic img {
  height: 300px;
  width: 300px;
  cursor: pointer; }

.Favourites .header, .error .header {
  font-size: 60px; }

.Favourites .btns, .error .btns {
  height: 46px;
  width: 160px;
  font-size: 26px;
  margin: 0 auto;
  cursor: pointer; }

.myNavbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between; }

.myNavbar .main-header {
  text-align: center; }

.myNavbar .main-header-image img {
  height: 78px;
  width: 261px;
  cursor: pointer; }

.myNavbar .nav-link {
  color: #c1c1c1;
  font-size: 23px;
  font-weight: 600;
  outline: none; }

.myNavbar .nav-link:hover, .myNavbar .nav-link:active {
  color: #58172c; }

select {
  max-width: 200px; }

/*custom Flexbox*/
.Flexbox {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px; }

.Flexbox .flex-item {
  padding-left: 15px;
  padding-right: 15px; }

/*custom margin classes*/
.m-t-20 {
  margin-top: 20px; }

.m-b-20 {
  margin-bottom: 20px; }
